.tapBar{
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 2%;
    width: 90%;
    text-align: center;
    height: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(225deg, #21266B, #3a3f88);
    box-shadow: 0px 0px 7px #0c0b0b;
    
}

.tapBarLight{
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 2%;
    width: 90%;
    text-align: center;
    height: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(225deg, rgb(120, 120, 255), #7056f1);
    box-shadow:  -10px 10px 20px #c5c5c5,
                 10px -10px 20px #fbfbfb;
                 
}
.darktheme {
    background-color: rgb(70, 68, 68);
    color: #fff;
}

.lightTheme{
    background-color: #eaebf8;
    color: rgb(45, 46, 44);
}
.button{
    color: white;
}

.buttonLight{
    color: #21266B;
}

.Light{
    color: rgb(255, 153, 0);
}
.Dark{
    color: rgb(200, 184, 68);
}

.buttonMenuLight{
    padding: 1%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(225deg, rgb(120, 120, 255), rgb(188, 188, 248));

}

.buttonMenu{
    padding: 1%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(225deg, #2d338a, #4950a8);
    box-shadow: 0px 0px 7px #0c0b0b;
    text-decoration: none;
    color: white;
    position: relative;
    
}

.MenuOpenTabBar{
    width: 90%;
    z-index: 5;
    margin: auto auto auto auto;
    background-color: rgb(49, 116, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 22px;
    position: fixed;
    bottom: 10%;
    left: 5%;
    right: 45%;
    animation-duration: 700ms;
    animation-name: openMenu;
}
.LinkMenu{
    text-decoration: none;
    color: #2d338a;
    font-size: 2rem;
    text-align: center;
}


.d-none{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
}


.menuLight{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    font-size: 2rem;
}


 .MenuCloseTabBar {
    animation-duration: 700ms;
    animation-name: closeMenu;
}


  @keyframes closeMenu {
    from {
        width: 90%;
        margin: 55% auto auto auto;
        background-color: rgb(49, 116, 240);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 22px;
        position: fixed;
        bottom: 10%;
        left: 5%;
        right: 45%;
    }
  
    to {
      width: 0%;
      right: 50%;
      left: 50%;
      bottom: 2%;
    }
  }

  @keyframes openMenu {
    from {
        width: 0%;
        right: 50%;
        left: 50%;
        bottom: 2%;
      }
    to {
        width: 90%;
        margin: 55% auto auto auto;
        background-color: rgb(49, 116, 240);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 22px;
        position: fixed;
        bottom: 10%;
        left: 5%;
        right: 45%;
    }
  }

